@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container-fluid px-4 pb-3" role="main">
    <h1 class="pt-4">@ViewData["Title"]</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">
            <a asp-area="" asp-controller="Home" asp-action="Index">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">
            @ViewData["Title"]
        </li>
    </ol>
</div>

<p>Use this page to detail your site's privacy policy.</p>
